# [submodule "nbt-cpp"]
# 	path = nbt-cpp
# 	url = https://github.com/handtruth/nbt-cpp.git
[submodule "libnbtplusplus"]
	path = libnbtplusplus
	url = https://github.com/ljfa-ag/libnbtplusplus.git
[submodule "mc2obj"]
	path = mc2obj
	url = git@github.com:Rami-Slicer/mc2obj.git
[submodule "blockstacker"]
	path = blockstacker
	url = git@github.com:Rami-Slicer/blockstacker.git
[submodule "voxelite"]
	path = voxelite
	url = git@github.com:Rami-Slicer/voxelite.git
